<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

<html lang="en">
  <body>
    <div class="container-fluid">
      <nav>
        <ul>
          <li><strong>Your Brand</strong></li>
        </ul>
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#" role="button">Sign In</a></li>
        </ul>
      </nav>
    </div>
    <main class="container-fluid" id="app">
      <div class="grid">
          <div>
            <article>
              <h4>This is a demo of WorkBright's embedded feature within an iframe.</h4>

            <p>
              <small>
                <ol>
                  <li>Request a token for an <a target="_blank" href="https://developers.workbright.com/reference/request-one-time-access-token">employee</a> or <a href="https://developers.workbright.com/reference/request-one-time-user-access-token">admin</a></li>
                  <li>Copy and paste the <a target="_blank" href="https://developers.workbright.com/reference/signing-in-with-token">login URL</a> below</li>
                </ol>
              </small>
            </p>
            <div>
              <label for="embeddedLink">Embedded Sign-In Link:</label>
            </div>
            <input v-model="placeholder" name="embeddedLink" id="embeddedLink" placeholder="https://embedded.workbright.com/sign_in_with_token?token="></input>

            <p>
              <details>
                <summary>Sample Paths for Staff/Employees:</summary>
                <ul> 
                  <li>View I-9 </li>
                  <ul><li><em>/forms/i9/submission/new</em></li></ul>
                  <li>View W-4 </li>
                  <ul><li><em>/forms/w4/submission/new</em></li></ul>
                  <li>View Custom Form</li>
                  <ul><li><em>/forms/DOCUMENTID/submission/new</em></li></ul>
                </ul>
              </details>
              
              <details >
                <summary>Sample Paths for Admins</summary>
                <ul> 
                  <li>View all Section 2 Inbox</li>
                  <ul><li><em>/onboarding/i9/review</em></li></ul>
                  <li>View Single Section 2 </li>
                  <ul><li><em>/onboarding/i9/review?ids[]=SUBMISSIONID</em></li></ul>
                </ul>
              </details>


            </p>
          </article>
          </div>
          <article v-if="placeholder.length">
           <iframe class="embedded-iframe" width="100%" height="1200" frameBorder="0" allow="camera"  :src="placeholder" title="embedded-demo"></iframe>
          </article>
          <article v-else>
            (Please add a URL, your iframe will appear below)
          </article>
      </div>
    </main>
    <footer class="container-fluid">
      <small>Your footer content</small>
    </footer>
  </body>
</html>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        placeholder: '',
      }
    }
  }).mount('#app')
</script>
